@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://phonoteka.org/uploads/posts/2021-10/1633100363_17-phonoteka-org-p-fon-zelenaya-kozha-krasivo-19.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: aliceblue;
  box-shadow: 1px 1px 80px 40px #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 50px;
  height: 600px;
  min-width: 500px;
}

.number {
  background: none;
  text-align: center;
  border: none;
  font-size: 200px;
  color: rgba(0, 0, 0, 0.774);
  font-weight: normal;
}

.number:focus {
  outline: none;
}

.counter_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.438);
  box-shadow: 5px 5px 15px aliceblue;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.1s linear;
  cursor: pointer;
}

.counter_btn.up:active {
  background-color: green;
  transform: scale(0.98);
}
.counter_btn.down:active {
  background-color: red;
  transform: scale(0.98);
}
